@config "../tailwind.config.js";
@import 'tailwindcss';

@font-face {
  font-family: 'Oswald';
  src: url('./public/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply font-sans;
    line-height: 1.5;
    font-weight: 500;
    color-scheme: light dark;
  }

  body.loading * {
    cursor: wait !important;
  }

  :root {
    --c-dark: 0.1 0 264;
    --c-foreground: 0.23 0 264;
    --c-light: 0.3 0 264;
    --c-hover: 0.35 0 264;
    --c-selected: 0.32 0 264;
    --c-focus: 0.4 0 264;
    --c-border: 0.3 0 20;
    --c-default: 0.96 0 20;
    --c-muted: 0.76 0 20;
    --c-error: 0.65 0.2 25;
    --c-success: 0.65 0.16 145;
    --c-warning: 0.82 0.17 95;

    @apply bg-dark text-default antialiased flex justify-center items-center;

    margin: auto;
    max-width: 1600px;
    width: 100%;
    padding: 0 30px;
  }

  html[data-theme='light'] {
    color-scheme: light;

    --c-dark: 0.92 0 20;
    --c-foreground: 0.96 0 20;
    --c-light: 1 0 20;
    --c-hover: 0.84 0 20;
    --c-selected: 0.7 0 20;
    --c-focus: 0.8 0 20;
    --c-border: 0.82 0 20;
    --c-default: 0.15 0 20;
    --c-muted: 0.45 0 20;
    --c-error: 0.6 0.2 25;
    --c-success: 0.55 0.16 145;
    --c-warning: 0.72 0.16 95;
  }

  html[data-theme='dark'] {
    color-scheme: dark;
  }

  input:focus,
  textarea:focus {
    @apply outline-none bg-border;
  }
}

@layer utilities {
  .icon-bw {
    filter: none;
  }

  html[data-theme='light'] .icon-bw {
    filter: brightness(0);
  }

  .icon-filter-black {
    filter: brightness(0);
  }

  .icon-filter-white {
    filter: brightness(0) invert(1);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #242424;
  --_m:
    conic-gradient(from 0deg at 50% 50%, transparent 10%, black),
    linear-gradient(black, black) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.5s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.toggle-checkbox {
  user-select: none;
}

.toggle-switch {
  display: inline-block;
}

.toggle-knob {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.my-calendar .react-calendar {
  color: white;
  background-color: #4b4b4b;
}

.my-calendar .react-calendar__tile--active {
  background-color: #242424;
}

/* Приховати скрол-бар для всіх браузерів */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}
